# Creating and Manipulating Graphs

Eight employees at a small company were asked to choose 3 movies that they would most enjoy watching for the upcoming company movie night. These choices are stored in the file `Employee_Movie_Choices.txt`.

A second file, `Employee_Relationships.txt`, has data on the relationships between different coworkers. 

The relationship score has value of `-100` (Enemies) to `+100` (Best Friends). A value of zero means the two employees haven't interacted or are indifferent.

Both files are tab delimited.

In [1]:
import networkx as nx
import pandas as pd
import numpy as np
from networkx.algorithms import bipartite
%matplotlib widget

# This is the set of employees
employees = set(['Pablo',
                 'Lee',
                 'Georgia',
                 'Vincent',
                 'Andy',
                 'Frida',
                 'Joan',
                 'Claude'])

# This is the set of movies
movies = set(['The Shawshank Redemption',
              'Forrest Gump',
              'The Matrix',
              'Anaconda',
              'The Social Network',
              'The Godfather',
              'Monty Python and the Holy Grail',
              'Snakes on a Plane',
              'Kung Fu Panda',
              'The Dark Knight',
              'Mean Girls'])


# you can use the following function to plot graphs
# make sure to comment it out before submitting to the autograder
def plot_graph(G, weight_name=None):
    '''
    G: a networkx G
    weight_name: name of the attribute for plotting edge weights (if G is weighted)
    '''
    %matplotlib widget
    import matplotlib.pyplot as plt
    
    plt.figure()
    pos = nx.spring_layout(G)
    edges = G.edges()
    weights = None
    
    if weight_name:
        weights = [int(G[u][v][weight_name]) for u,v in edges]
        labels = nx.get_edge_attributes(G,weight_name)
        nx.draw_networkx_edge_labels(G,pos,edge_labels=labels)
        nx.draw_networkx(G, pos, edges=edges, width=weights);
    else:
        nx.draw_networkx(G, pos, edges=edges);

### Load the bipartite graph

Using NetworkX, load in the bipartite graph from `Employee_Movie_Choices.txt` and return that graph.

*This function should return a networkx graph with 19 nodes and 24 edges*

In [94]:
#pd.read_csv('Employee_Movie_Choices.txt',sep=None, delim_whitespace=False, header=None, skiprows=1, names=["Employee",'Movie'])

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   Employee                            Movie
0      Andy                         Anaconda
1      Andy                       Mean Girls
2      Andy                       The Matrix
3    Claude                         Anaconda
4    Claude  Monty Python and the Holy Grail
5    Claude                Snakes on a Plane
6     Frida                       The Matrix
7     Frida         The Shawshank Redemption
8     Frida               The Social Network
9   Georgia                         Anaconda
10  Georgia  Monty Python and the Holy Grail
11  Georgia                Snakes on a Plane
12     Joan                     Forrest Gump
13     Joan                    Kung Fu Panda
14     Joan                       Mean Girls
15      Lee                     Forrest Gump
16      Lee                    Kung Fu Panda
17      Lee                       Mean Girls
18    Pablo                  The Dark Knight
19    Pablo                       The Matrix
20    Pablo         The Shawshank Redemption
21  Vincent                    The Godfather
22  Vincent         The Shawshank Redemption
23  Vincent               The Social Network

In [2]:
def answer_one():
        
    df =pd.read_csv('Employee_Movie_Choices.txt',sep=None, delim_whitespace=False, header=None, skiprows=1, names=["Employee",'Movie'])
    G1 = nx.from_pandas_edgelist(df, 'Employee', 'Movie')
    
    return G1


answer_one()

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
plot_graph(answer_one())

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

FigureCanvasNbAgg()

In [7]:
#this works for networkx 1.9
#def answer_two():
#    
#    G1=answer_one()
#
#    list(map(lambda x: G1.add_node(G1.edges(data=True)[x][0], type='employee') if G1.edges(data=True)[x][0] in employees else G1.add_node(G1.edges(data=True)[x][0], type='movie') ,range(1,len(G1.edges(data=True)),1)))
#    list(map(lambda x: G1.add_node(G1.edges(data=True)[x][1], type='employee') if G1.edges(data=True)[x][1] in employees else G1.add_node(G1.edges(data=True)[x][1], type='movie') ,range(1,len(G1.edges(data=True)),1)))
#    
#    return G1
#answer_two()

In [8]:
#G1=answer_one()
##list(G1.edges(data=True))
##for list(G1.edges)[0][0]
#list(map(lambda x: G1.add_node(list(G1.edges)[x][0], type='employee') if list(G1.edges)[x][0] in employees else G1.add_node(list(G1.edges)[x][0], type='movie') ,range(1,len(list(G1.edges)),1)))
#list(map(lambda x: G1.add_node(list(G1.edges)[x][1], type='employee') if list(G1.edges)[x][1] in employees else G1.add_node(list(G1.edges)[x][1], type='movie') ,range(1,len(list(G1.edges)),1)))
#
#list(G1.nodes(data=True))

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

[('Andy', {'type': 'employee'}),
 ('Anaconda', {'type': 'movie'}),
 ('Mean Girls', {'type': 'movie'}),
 ('The Matrix', {'type': 'movie'}),
 ('Claude', {'type': 'employee'}),
 ('Monty Python and the Holy Grail', {'type': 'movie'}),
 ('Snakes on a Plane', {'type': 'movie'}),
 ('Frida', {'type': 'employee'}),
 ('The Shawshank Redemption', {'type': 'movie'}),
 ('The Social Network', {'type': 'movie'}),
 ('Georgia', {'type': 'employee'}),
 ('Joan', {'type': 'employee'}),
 ('Forrest Gump', {'type': 'movie'}),
 ('Kung Fu Panda', {'type': 'movie'}),
 ('Lee', {'type': 'employee'}),
 ('Pablo', {'type': 'employee'}),
 ('The Dark Knight', {'type': 'movie'}),
 ('Vincent', {'type': 'employee'}),
 ('The Godfather', {'type': 'movie'})]

### Question 2

Using the graph from the previous question, add nodes attributes named `'type'` where movies have the value `'movie'` and employees have the value `'employee'` and return that graph.

*This function should return a networkx graph with node attributes `{'type': 'movie'}` or `{'type': 'employee'}`*

In [9]:
def answer_two():
    
    G1=answer_one()

    list(map(lambda x: G1.add_node(list(G1.edges)[x][0], type='employee') if list(G1.edges)[x][0] in employees else G1.add_node(list(G1.edges)[x][0], type='movie') ,range(1,len(list(G1.edges)),1)))
    list(map(lambda x: G1.add_node(list(G1.edges)[x][1], type='employee') if list(G1.edges)[x][1] in employees else G1.add_node(list(G1.edges)[x][1], type='movie') ,range(1,len(list(G1.edges)),1)))
    
    return G1
answer_two()

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
#plot_graph(answer_two())

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

FigureCanvasNbAgg()

### Question 3

Find a weighted projection of the graph from `answer_two` which tells us how many movies different pairs of employees have in common.

*This function should return a weighted projected graph.*

In [29]:
def answer_three():
        
    G2=answer_two()
    P1=bipartite.weighted_projected_graph(G2,employees)
    
    return P1
answer_three()

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
plot_graph(answer_three())

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

FigureCanvasNbAgg()

In [156]:
P2=answer_three()
movie_s1=pd.DataFrame(list(P2.edges(data=True)),columns=['name1','name2','movie_score'])
movie_s2=pd.DataFrame(list(P2.edges(data=True)),columns=['name2','name1','movie_score'])
movie_s=movie_s1.append(movie_s2,sort=True)
movie_s['movie_score'] = movie_s['movie_score'].map(lambda x: x['weight'])
movie_s

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

    movie_score    name1    name2
0             2    Frida  Vincent
1             1    Frida     Andy
2             2    Frida    Pablo
3             1     Joan     Andy
4             3     Joan      Lee
5             1    Pablo  Vincent
6             1    Pablo     Andy
7             1     Andy   Claude
8             1     Andy      Lee
9             1     Andy  Georgia
10            3   Claude  Georgia
0             2  Vincent    Frida
1             1     Andy    Frida
2             2    Pablo    Frida
3             1     Andy     Joan
4             3      Lee     Joan
5             1  Vincent    Pablo
6             1     Andy    Pablo
7             1   Claude     Andy
8             1      Lee     Andy
9             1  Georgia     Andy
10            3  Georgia   Claude

In [162]:
rel_s=pd.read_csv('Employee_Relationships.txt', delim_whitespace=True, 
                   header=None, names=['name1', 'name2', 'score'])
df=rel_s.merge(movie_s,how='outer', on=['name1','name2'])
df['movie_score'].fillna(value=0, inplace=True)
df['movie_score'].corr(df['score'])

0.7883962221733474

In [85]:
#movie_watched = P1.degree()
#movie_watched

DegreeView({'Monty Python and the Holy Grail': 2, 'The Matrix': 5, 'Anaconda': 4, 'The Godfather': 2, 'Forrest Gump': 2, 'Snakes on a Plane': 2, 'Mean Girls': 4, 'Kung Fu Panda': 2, 'The Dark Knight': 2, 'The Shawshank Redemption': 4, 'The Social Network': 3})

In [86]:
#people_watched = P2.degree()
#people_watched

DegreeView({'Vincent': 2, 'Joan': 2, 'Pablo': 3, 'Claude': 2, 'Georgia': 2, 'Lee': 2, 'Andy': 6, 'Frida': 3})

### Question 4

Suppose you'd like to find out if people that have a high relationship score also like the same types of movies.

Find the Pearson correlation ( using `DataFrame.corr()` ) between employee relationship scores and the number of movies they have in common. If two employees have no movies in common it should be treated as a 0, not a missing value, and should be included in the correlation calculation.

*This function should return a float.*

In [163]:
def answer_four():
        
    P2=answer_three()
    movie_s1=pd.DataFrame(list(P2.edges(data=True)),columns=['name1','name2','movie_score'])
    movie_s2=pd.DataFrame(list(P2.edges(data=True)),columns=['name2','name1','movie_score'])
    movie_s=movie_s1.append(movie_s2,sort=True)
    movie_s['movie_score'] = movie_s['movie_score'].map(lambda x: x['weight'])
    movie_s
    rel_s=pd.read_csv('Employee_Relationships.txt', delim_whitespace=True, 
                   header=None, names=['name1', 'name2', 'score'])
    df=rel_s.merge(movie_s,how='outer', on=['name1','name2'])
    df['movie_score'].fillna(value=0, inplace=True)
    
    return df['movie_score'].corr(df['score'])
answer_four()

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

0.7883962221733474